<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
  <title> Tables </title>
  <meta charset = "utf-8">
</head>

<body>
  <h1> The tables </h1>
  
  <h2> First </h2>
  <table border = "1">
    <tr>
	  <td colspan = "7">  1  </td>
	 </tr>
	 
	 <tr>
	  <td colspan = "6">  8  </td>
	  <td rowspan = "6">  14 </td>
	 </tr>
	 
	 <tr>
	  <td colspan = "5">  15  </td>
      <td rowspan = "5">  16  </td>
	 </tr>
	 
	 <tr>
	  <td colspan = "4">  22  </td>
      <td rowspan = "4">  23  </td>
	 </tr>
	 
	 <tr>
	  <td colspan = "3">  22  </td>
      <td rowspan = "3">  23  </td>
	 </tr>
	 
	 <tr>
	  <td colspan = "2">  22  </td>
      <td rowspan = "2">  23  </td>
	 </tr>
	 
	 <tr>
	  <td>  43  </td>
      <td>  44  </td>
	 </tr>
  </table>
  
  <h2> Second </h2>
  
  <table border = "1">
    <tr>
	  <td colspan = "6">  11  </td>
      <td rowspan = "7">  21  </td>
	 </tr>
	 
	 <tr>
	  <td colspan = "5">  11  </td>
      <td rowspan = "6">  21  </td>
	 </tr>
	 
	 <tr>
	  <td colspan = "4">  11  </td>
      <td rowspan = "5">  21  </td>
	 </tr>
	 
	 <tr>
	  <td colspan = "3">  11  </td>
      <td rowspan = "4">  21  </td>
	 </tr>
	 
	 <tr>
	  <td colspan = "2">  11  </td>
      <td rowspan = "3">  21  </td>
	 </tr>
	 
	 <tr>
	  <td>  11  </td>
      <td rowspan = "2">  21  </td>
	 </tr>
	 
	 <tr>
	  <td>  43  </td>
	 </tr>
  </table>
  
  <h2> Third </h2>
  
  <table border = "1">
    <tr>
	  <td>  11  </td>
      <td rowspan = "2">  2  </td>
	  <td>  11  </td>
	  <td rowspan = "2">  4  </td>
	  <td>  5  </td>
	  <td rowspan = "2">  6  </td>
	  <td>  7  </td>
	 </tr>
	 
	 <tr>
	  <td rowspan = "2">  8  </td>
      <td rowspan = "2">  9  </td>
	  <td rowspan = "2">  10 </td>
	  <td rowspan = "2">  11 </td>
	 </tr>
	 
	 <tr>
	  <td rowspan = "2">  8  </td>
      <td rowspan = "2">  9  </td>
	  <td rowspan = "2">  10 </td>
	 </tr>
	 
	 <tr>
	  <td rowspan = "2">  8  </td>
      <td rowspan = "2">  9  </td>
	  <td rowspan = "2">  10 </td>
	  <td rowspan = "2">  11 </td>
	 </tr>
	 
	 <tr>
	  <td rowspan = "2">  8  </td>
      <td rowspan = "2">  9  </td>
	  <td rowspan = "2">  10 </td>
	 </tr>
	 
	 <tr>
	  <td rowspan = "2">  8  </td>
      <td rowspan = "2">  9  </td>
	  <td rowspan = "2">  10 </td>
	  <td rowspan = "2">  11 </td>
	 </tr>
	 
	 <tr>
	  <td>  43  </td>
      <td>  44  </td>
	  <td>  45  </td>
	 </tr>
  </table>
  
  <h2> Fourth </h2>
  
  <table border = "1">
    <tr>
	  <td colspan = "3">  cell  </td>
	  <td colspan = "3">  cell  </td>
	  <td>  cell  </td>
	 </tr>
	 
	 <tr>
	  <td>  cell  </td>
	  <td colspan = "3">  cell  </td>
	  <td colspan = "3">  cell  </td>
	 </tr>
	 <tr>
	  <td colspan = "2">  cell  </td>
	  <td colspan = "3">  cell  </td>
	  <td colspan = "2">  cell  </td>
	 </tr>
	 
	 <tr>
	  <td colspan = "3">  cell  </td>
	  <td colspan = "3">  cell </td>
	  <td>  cell  </td>
	 </tr>
	 
	 <tr>
	  <td>  cell  </td>
	  <td colspan = "3">  cell  </td>
	  <td colspan = "3">  cell  </td>
	 </tr>
	 <tr>
	  <td colspan = "2">  cell  </td>
	  <td colspan = "3">  cell  </td>
	  <td colspan = "2">  cell  </td>
	 </tr>
	 
	 <tr>
	  <td colspan = "3">  cell  </td>
	  <td colspan = "3">  cell  </td>
	  <td>  cell  </td>
	 </tr>
	 
  </table>
</body>

</html>